<nav class="navbar">
    <div class="container">
        <a class='logo' href="/">PROJECT RELOG</a>
        <div class='log'>
            <% if( currentUser==null) {%>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
                <% }else{ %>
                    <form action="/logout?_method=DELETE" method='POST'>
                        <button class='btn' type='submit'>Logout</button>
                    </form>
                    <% } %>

        </div>
    </div>
</nav>